<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tela de Obrigado</title>
</head>

<body>
    <div class="barrinha">
        <img src="../imagens/LogoRedaQuick_nova.png" alt="Logo RedaQuick" class="configIMGLogoTCC">
    </div>

    <div class="containerSection">
        <section>
            <h1 class="titulo">Agradecemos o contato!</h1>
            <br><br>
            <p class="paragrafo">Em breve entraremos em contato...</p>
            <a href="../index.php"><button id="configBtnObrigado">Tela Inicial</button></a>
        </section>
    </div>
</body>

</html>